* {
    margin: 0;
    border: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

main {
  background-color: #fff;
  flex: 1;
}

footer {
  background-color: #000;
}

a {
  text-decoration: none;
}

select {
  font-family: "Lora", serif;
  cursor: pointer;
}

button {
  font-family: "Lora", serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  column-gap: 3rem;
  flex-wrap: wrap;
  padding-block: 2rem 1rem;
}

.nav__container .form__container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav__container .form__container label {
  margin-right: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.nav__container .form__container input {
  font-family: "Lora", serif;
  flex: 1;
  border: 1px solid #fff;
  padding: 5px;
  outline: none;
}

.nav__container .form__container button {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  padding: 5px;
  cursor: pointer;
}

.nav__container .form__container button:hover {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 2px solid #000;
  color: #000;
  background: #fff;
}

.nav__item {
  list-style-type: none;
  display: flex;
  gap: 4rem;
}

.nav__link {
  padding-bottom: 3px;
  font-size: 1.1rem;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.nav__link a {
  color: #fff;
}

/*=============== PRODUCT ===================*/
.products__container {
  padding-block: 2rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.products__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.products__title {
  letter-spacing: 1px;
  font-size: 1.8rem;
  color: #f6a400;
}

.products__header .form__container {
  display: flex;
  column-gap: 1rem;
}

.products__header label {
  font-size: 0.9rem;
}

.filter,
.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  color: #7c7c7c;
}
.form__container select {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #676767;
  border-radius: 0;
  outline: none;
  padding: 1px 3px;
}

.products__content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  background-color: #e3e3e3;
  padding-block: 1.5rem;
}

.product__card {
  width: 250px;
  padding: 10px 10px 12px;
  background-color: #fff;
  box-shadow: 0 0 8px 2px #c1c1c1;

  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.product__card:hover {
  box-shadow: 0 0 8px 2px #ababab;
}

.product__name {
  margin-top: 10px;
  letter-spacing: 0.6px;
}

.product__name a {
  color: #ffb623;
}

.product__name a:hover {
  color: #f6a400;
}

.product__price {
  font-weight: 500;
  color: #14521b;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product__cart {
  border: none;
  padding: 3px 7px;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgb(255, 208, 113) 0%,
    rgb(255, 177, 20) 100%
  );
  color: #fff;
  font-weight: 500;
}

.product__cart:hover {
  background: linear-gradient(
    45deg,
    rgb(255, 202, 97) 0%,
    rgb(255, 170, 0) 100%
  );
}

/*=============== FOOTER ====================*/
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  color: #fff;
}

.footer__terms {
  display: flex;
  column-gap: 1rem;
}

.footer__terms a {
  color: #fff;
}

.footer__terms a:hover {
  color: #c9c9c9;
}

/*=============== RESPONSIVE ================*/
@media (max-width: 1250px) {
  .container {
    margin-inline: 1.5rem;
  }

  .products__content {
    padding-inline: 1rem;
    gap: 3rem;
  }

  .product__card {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .nav__item {
    gap: 2rem;
  }

  .products__content {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__container {
    flex-direction: column;
    justify-content: initial;
    row-gap: 0.8rem;
  }

  .nav__list {
    border-top: 2px solid #fff;
    padding-top: 1rem;
  }

  .nav__item {
    justify-content: space-evenly;
  }

  .nav__link:hover {
    border-bottom: none;
  }

  .footer__container {
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    row-gap: 0.5rem;
  }

  .footer__terms {
    order: -1;
  }
}

@media (max-width: 495px) {
  .nav__container {
    padding-block: 1rem;
  }

  .nav__container .form__container label {
    font-size: 1.2rem;
  }

  .nav__item {
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
  }

  .nav__link {
    font-size: 0.9rem;
  }

  .products__header {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .products__header select {
    padding-inline: 1px 0;
  }

  .products__header label {
    font-size: 0.9rem;
  }

  .product__card {
    width: 80%;
    padding: 1rem;
  }
}

@media (max-width: 370px) {
  .products__header .form__container {
    width: 200px;
    column-gap: 2rem;
  }
}

  